<mat-card fxLayoutAlign="center center">
    <mat-card-content >
      <form [formGroup]="formulario" (ngSubmit)="register()">
        <h2>Registro</h2>
        <p>
            <mat-form-field>
              <input matInput  placeholder="nombre" formControlName="nombre">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
              <input matInput  placeholder="nombreUsuario" formControlName="nombreUsuario">
              <mat-error>
                Usuario mal escrito
              </mat-error>
            </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput placeholder="email" formControlName="email">
            <mat-error>
              Email escrito de forma incorrecta
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error>
              pon una contraseña correcta
            </mat-error>
          </mat-form-field>
        </p>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>